.iu__input-wrapper {
    h3 {
        line-height: 22px;
        margin: 5px 0px;
    }
    
    .iu__input {
    
        border-radius: 5px;
        border: $app_border;
        padding: 5px;
    
        input {
    
            width: 100%;
    
            border: none;
            outline: none;
        }
    }
}