.btn {
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: min-content;
    height: auto;

    padding: 0px;

    border: none;
    border-radius: 5px;
    background: none;
}

.btn-active {
    color: rgb(239, 25, 64);
}

.btn-bl {
    background-color: rgb(46, 175, 255);
    color: white;
}
.btn-bl-cell {
    border: 1px solid #b8c5cc;
    color: #000000;
    background-color: rgb(238, 248, 255);
}
.btn-blc-op {
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
}

.btn-hv-op {
    transition: all .2s ease;
    &:hover {
        background-color: rgba($color: #b8c5cc, $alpha: 0.4);
    }
}

.btn-s {
    padding: 5px;
}

.btn-auto {
    width: 100%;
}

.btn-xl {
    padding: 10px;
}