.ui__textarea-wrapper {

    h3 {
        line-height: 22px;
        margin: 5px 0px;
    }
    .ui__textarea {
    
        padding: 5px;
        border-radius: 5px;
        border: $app_border;
    
        textarea {
            width: 100%;
            height: auto;
    
            overflow: hidden;
    
            border: none;
            outline: none;
            resize: none;
    
            transition: all .2s ease;
        }
    }
}