.user__profile-block {
    padding: 30px 20px;
    height: min-content;

    .user__profile-main {
        &-avatar {
            display: flex;
            justify-content: center;
            
            .avatar-block {
                width: 86px;
                height: 86px;
            }
        }
        &-bio {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 10px 0px;

            .direction {
                font-size: 14px;
                line-height: 22px;
                color: gray;
            }
        }
        &-stats {

            margin: 10px 0px;

            h3 { text-align: center; }

            .stats-field {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .name { 
                    font-size: 14px;
                    line-height: 22px;
                }
                .count {
                    font-size: 15px;
                    line-height: 22px;
                }
            }
        }
    }
}
.user__create-date {

    font-size: 15px;
    line-height: 22px;
    text-align: center;

    margin-top: 20px;
}