.reactions_block {
    display: flex;
    align-items: center;
    gap: 10px;
    
    .likes-count,
    .watch-count {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        
        .count { font-size: 12px; }
    }    
}
.active { color: $app_red; }
.color-text {
    color: rgb(47, 47, 47);
}