.reactions_block {
    display: flex;
    align-items: center;
    gap: 10px;

    .likes-count,
    .watch-count {
        display: flex;
        align-items: center;
        gap: 5px;
        color: rgb(47, 47, 47);

        .count { font-size: 12px; }
    }

}
.active { color: red; }