.art__create-page {
    margin: 0 auto;

    .header {

        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-title {
            margin: 20px 0px;
        }
        .header-actions {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}