.ui__select-wrapper {
    line-height: 22px;
    margin: 5px 0px;
}
.ui__select {

    border-radius: 5px;
    border: $app_border;

    padding: 5px;
    width: 100%;

    &-wrapper {
        position: relative;
    }

    .select-dropdown {
        position: absolute;
        top: 100%;
        left: 0;

        width: 100%;
        min-height: max-content;
        max-height: 220px;

        border-radius: 0px 0px 5px 5px;
        border: $app_border;
        border-top: none;
        
        padding: 5px;
        background-color: white;

        overflow-y: auto;
        z-index: 99;
    }
}

.select-active-wrapper {
    border-radius: 5px 5px 0px 0px;
}

.select-active {

    @keyframes select_active {
        from { opacity: 0; }
        to { opacity: 100%; }
    }
    animation: select_active .2s forwards;
}