.author_item {

    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 32px;
        height: 32px;
        border: 50%;
    }
    .info {

        display: flex;
        flex-direction: column;
        gap: 5px;

        .name {
            font-size: 13px;
            line-height: 22px;
        }
    }
}