.author_item {

    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    .info {

        display: flex;
        flex-direction: column;

        .name {
            font-size: 13px;
            line-height: 22px;
        }
    }
}